*.dll
*.exe
*.exp
*.img
*.lib
*.la
*.lo
*.o
*.obj
*.pdb
*.res
*.so*
.*~
*~
.#*
.DS_Store
autom4te.cache
Win32Dbg
Win32Rel
Win64Dbg
Win64Rel
/sandbox/jlf/demos/arch/
/sandbox/jlf/trunk/interpreter/classes/support/m17n/icu4x/ffi/diplomat/cpp/include.old/
/sandbox/jlf/trunk/interpreter/classes/support/m17n/uni-algo-v1.0.0/
